body {
    font-family: Arial, sans-serif;
}

.hero {
    background: url('../assets/Fondo.jpeg') center/cover no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.gallery-img {
    margin-bottom: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery-img:hover {
    transform: scale(1.05);
}

.comentario {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    border-left: 5px solid orange;
}

.comentario h5 {
    margin: 0;
}

.comentario small {
    color: gray;
}